
body {
  background-color: #333;
}

header {
  background-color: #0ad;
}

footer {
  color: #bbb;
  background-color: #444;
  text-align: center;
  vertical-align: center;
}

.content-window {
  background-color: #555;
  color: #ddd;
}
